<div class="mdp-container">
    <div class="mdp-col mdp-row-full">
        {% render 'prosmash-breadcrumb' %}
    </div>
</div>

{% schema %}
{
  "name": "Product Breadcrumbs",
  "settings": [
    
  ],
  "presets": [{
    "name": "Product Breadcrumbs",
    "category": "Prosmash: Single Product"
  }]
}
{% endschema %}
