{{"page-content.css" | asset_url | stylesheet_tag }}

<div class="mdp mdp-weare-page-1">
    <div class="mdp-data mdp-container">
        <div class="mdp-grid" data-columns="1" data-gap="30">
            <div class="mdp-col">
                <div class="mdp-header">
                    <h1 class="mdp-title">
                        {{page.title}}
                    </h1>
                    <p>{{page.content}}</p>
                </div>
            </div>
        </div>
    </div>
</div>