<div class="player-preferred-set">
  <h2>{{ collection.title }}'s Preferred Set</h2>
  <div class="preferred-products product-grid">
    {% for product in collection.metafields.custom.player_preferred_set.value %}
      {% render 'prosmash-product-card', product: product %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Pro Player Set",
  "settings": [

  ],
  "presets": [
    {
      "name": "Pro Player Set",
      "category": "Pro Player Kit"
    }
  ]
}
{% endschema %}