<section class="featured">
    <div class="mdp-container">
        <h3>FEATURED PRODUCTS</h3>

        <div class="featured-products">
            <div class="featured-product">
                <img src="" alt="">
                <div class="prod-title">Sample</div>
                <div class="price">$200</div>
            </div>
        </div>

        <div class="cta-btn">
            <a href="#">SHOP NOW</a>
        </div>
    </div>
</section>