{{ "prosmash-global.css" | asset_url | stylesheet_tag }}

<section class="collection-banner" style="background-image: url('{{ section.settings.background_img | image_url: width: 1600 }}')">
    <div class="mdp-container">
        <div class="mdp-col mdp-row-full">
            {% render 'prosmash-breadcrumb' %}

            <div class="collection-banner-title">
                {{ section.settings.title }}
            </div>
        </div>
    </div>
</section>


<style>
.collection-banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
}
.collection-banner .custom-container {
    max-width: 1312px;
    margin: 0 auto;
    width: 100%;
    padding: 47px 15px;
}
.collection-banner .collection-banner-title {
    font-family: 'Red Hat Display';
    font-family: var(--font-body-family);
    font-size: 48px;
    line-height: 120%;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--white);
}


@media (max-width: 1024px) {
    .collection-banner .collection-banner-title {
        font-size: 38px;
    }
}
@media (max-width: 767px) {
    .collection-banner .collection-banner-title {
        font-size: 30px;
        text-align: left !important;
    }
}

</style>


{% schema %}
  {
    "name": "Collection Banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "background_img",
            "label": "Background Image"
        },
        {
            "type": "textarea",
            "id": "title",
            "label": "Title",
            "default": "Shop Exclusive<br> sportswear brands"
        }

     

    ],	
    "presets": [{
      "name": "Prosmash Collection Banner",
      "category": "Prosmash: Collection"
    }]
  }
{% endschema %}