<section class="new-products">
  <div class="mdp-container">
    <div class="col-left">
      <div class="heading-container">
        <h2>{{ section.settings.main_heading }}</h2>
        <div class="cta-btn">
          <a href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</a>
        </div>
      </div>
    </div>

    <div class="col-right">
      <div class="product-grid">
        {% if section.settings.collection %}
          {% for product in section.settings.collection.products %}
            {% render 'prosmash-product-card-v2', product: product %}
          {% endfor %}
        {% else %}
          <p>No collection selected.</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Prosmash HP New In Store",
  "settings": [
    {
      "type": "text",
      "label": "Main Heading",
      "id": "main_heading",
      "default": "New In"
    },
    {
      "type": "text",
      "label": "Button Text",
      "id": "button_text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "label": "Button Link",
      "id": "button_link"
    },
    {
      "type": "collection",
      "label": "Collection to Display",
      "id": "collection"
    }
  ],
  "presets": [
    {
      "name": "Prosmash HP New In Store",
      "category": "Prosmash"
    }
  ]
}
{% endschema %}
