<section class="prosmash-collection">
    <div class="custom-container">
        <h1>TESTING</h1>
    </div>
</section>


{% schema %}
  {
    "name": "Collection Banner",
    "settings": [	  	       
      
    ],	
    "presets": [{
      "name": "Prosmash Collection Banner",
      "category": "Prosmash"
    }]
  }
{% endschema %}