{% assign contact_bg = section.settings.contact_bg | default: 'assets/contact-img-a.jpg' %}

<section class="get-in-touch">
    <div class="mdp-container">
        <div class="col-left">
            <div class="img-container">
                <div class="canvas" style="
                    background-image: url('{{ 'contact-img-a.jpg' | asset_url }}');
                    background-color: #F0F0F0;
                    background-size: cover;
                    background-position: center;
                    width: 205px;
                    height: 205px;">
                </div>

            </div>
        </div>
        <div class="col-right">
            <div class="git-details">
                <div class="git-heading">Get In Touch</div>
                <div class="icons-container">
                    <div class="icon-list-item">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M20.8472 14.8556L16.4306 12.8766L16.4184 12.8709C16.1892 12.7729 15.939 12.7335 15.6907 12.7564C15.4424 12.7793 15.2037 12.8638 14.9963 13.0022C14.9718 13.0183 14.9484 13.0358 14.9259 13.0547L12.6441 15C11.1984 14.2978 9.70595 12.8166 9.00376 11.3897L10.9519 9.07312C10.9706 9.04968 10.9884 9.02624 11.0053 9.00093C11.1407 8.79403 11.2229 8.55686 11.2445 8.31053C11.2661 8.0642 11.2264 7.81636 11.1291 7.58906V7.57781L9.14438 3.15374C9.0157 2.8568 8.79444 2.60944 8.51362 2.44859C8.2328 2.28774 7.9075 2.22202 7.58626 2.26124C6.31592 2.42841 5.14986 3.05228 4.30588 4.01633C3.4619 4.98039 2.99771 6.2187 3.00001 7.49999C3.00001 14.9437 9.05626 21 16.5 21C17.7813 21.0023 19.0196 20.5381 19.9837 19.6941C20.9477 18.8501 21.5716 17.6841 21.7388 16.4137C21.7781 16.0926 21.7125 15.7674 21.5518 15.4866C21.3911 15.2058 21.144 14.9845 20.8472 14.8556ZM16.5 19.5C13.3185 19.4965 10.2682 18.2311 8.01856 15.9814C5.76888 13.7318 4.50348 10.6815 4.50001 7.49999C4.49648 6.58451 4.82631 5.69905 5.42789 5.00897C6.02947 4.31888 6.86167 3.87137 7.76907 3.74999C7.7687 3.75373 7.7687 3.7575 7.76907 3.76124L9.73782 8.16749L7.80001 10.4869C7.78034 10.5095 7.76247 10.5336 7.74657 10.5591C7.60549 10.7755 7.52273 11.0248 7.5063 11.2827C7.48988 11.5406 7.54035 11.7983 7.65282 12.0309C8.5022 13.7681 10.2525 15.5053 12.0084 16.3537C12.2428 16.4652 12.502 16.5139 12.7608 16.4952C13.0196 16.4764 13.2692 16.3909 13.485 16.2469C13.5091 16.2307 13.5322 16.2131 13.5544 16.1944L15.8334 14.25L20.2397 16.2234C20.2397 16.2234 20.2472 16.2234 20.25 16.2234C20.1301 17.1321 19.6833 17.966 18.9931 18.5691C18.3028 19.1721 17.4166 19.5031 16.5 19.5Z" fill="black"/>
                            </svg>
                            <span>(632) 8284 8789</span>
                        </a>
                    </div>
                    <div class="icon-list-item">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M16.5 1.5H7.5C6.90326 1.5 6.33097 1.73705 5.90901 2.15901C5.48705 2.58097 5.25 3.15326 5.25 3.75V20.25C5.25 20.8467 5.48705 21.419 5.90901 21.841C6.33097 22.2629 6.90326 22.5 7.5 22.5H16.5C17.0967 22.5 17.669 22.2629 18.091 21.841C18.5129 21.419 18.75 20.8467 18.75 20.25V3.75C18.75 3.15326 18.5129 2.58097 18.091 2.15901C17.669 1.73705 17.0967 1.5 16.5 1.5ZM6.75 6H17.25V18H6.75V6ZM7.5 3H16.5C16.6989 3 16.8897 3.07902 17.0303 3.21967C17.171 3.36032 17.25 3.55109 17.25 3.75V4.5H6.75V3.75C6.75 3.55109 6.82902 3.36032 6.96967 3.21967C7.11032 3.07902 7.30109 3 7.5 3ZM16.5 21H7.5C7.30109 21 7.11032 20.921 6.96967 20.7803C6.82902 20.6397 6.75 20.4489 6.75 20.25V19.5H17.25V20.25C17.25 20.4489 17.171 20.6397 17.0303 20.7803C16.8897 20.921 16.6989 21 16.5 21Z" fill="black"/>
                            </svg>
                            <span>(63) 917 899 1111</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .get-in-touch {

    }
    .get-in-touch .col-right .git-details {
        display: flex;
        width: 568px;
        padding: 56px;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        background: #F7F7F7;
    }
    .get-in-touch .col-right .git-details .git-heading {
        align-self: stretch;
        color: var(--black);
        font-family: var(--font-lexend);
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 48px */
        text-transform: uppercase;
    }
    .get-in-touch .col-right .icons-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
    }
    .icon-list-item svg {
        width: 24px;
        height: 24px;
        aspect-ratio: 1/1;
    }
    .icon-list-item span {
        color: var(--black);
        font-family: var(--font-redhat);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
    }
    .get-in-touch .col-right .icon-list-item a {
        display: flex;
        align-items: center;
        gap: 12px;
        text-decoration: none;
    }
    
</style>

{% schema %}
{
  "name": "Image with Get In Touch",
  "settings": [
   {
    "type": "textarea",
    "id": "cta_title",
    "label": "Title",
    "default": "MAXIMIZE <br> STABILITY"
    },
   {
    "type": "textarea",
    "id": "cta_description",
    "label": "Description",
    "default": "Take <span>20% Off</span> / Sale Must-Haves"
    },
    {
      "type": "image_picker",
      "id": "cta_bg",
      "label": "Background"
    },
  ],
  "presets": [{
    "name": "Image with Get In Touch",
    "category": "Prosmash: Contact Us"
  }]
}
{% endschema %}


