{{ "prosmash-global.css" | asset_url | stylesheet_tag }}

{% assign cta_bg = section.settings.cta_bg | default: 'assets/default-cta-img.jpg' %}

<section class="cta-section" style="background: linear-gradient(85deg, rgba(255, 255, 255, 0.80) 37.89%, rgba(255, 255, 255, 0.00) 56.25%, rgba(255, 255, 255, 0.00) 100%), url('{{ section.settings.cta_bg | image_url }}') lightgray 50% / cover no-repeat;">
  <div class="mdp-container">
    <div class="cta-title">{{ section.settings.cta_title }}</div>
    <div class="cta-desc">{{ section.settings.cta_description }}</div>
  </div>
</section>


{% schema %}
{
  "name": "Prosmash HP CTA Section",
  "settings": [
   {
    "type": "textarea",
    "id": "cta_title",
    "label": "Title",
    "default": "MAXIMIZE <br> STABILITY"
    },
   {
    "type": "textarea",
    "id": "cta_description",
    "label": "Description",
    "default": "Take <span>20% Off</span> / Sale Must-Haves"
    },
    {
      "type": "image_picker",
      "id": "cta_bg",
      "label": "Background"
    },
  ],
  "presets": [{
    "name": "Prosmash HP CTA Section",
    "category": "Prosmash"
  }]
}
{% endschema %}