<section class="prosmash-collection-grid">
  <div class="mdp-container">
    <div class="filter-section">
      <div class="custom-container">
        <div class="col-left">
            <div class="collection-title">{{ collection.title }} ({{ collection.products_count }})</div>
        </div>
        <div class="col-right">
          <div class="filter-container">
            {% render 'faceted-filter' %}
          </div>
        </div>
      </div>
    </div>
    <div class="collection-grid">
      {% for product in collection.products %}
        {% render 'prosmash-product-card', product: product %}
      {% endfor %}
    </div>
  </div>
</section>

<style>





</style>


<script>
  $(document).ready(function () {
    $('.collection-grid-item').each(function () {
      $(this).find('.thumbnail-container').first().addClass('active');
    });
    $('.thumbnail-img').on('click', function () {
      var newSrc = $(this).data('full');

      // Find this product's container
      var productContainer = $(this).closest('.collection-grid-item');

      // Update the main image
      productContainer.find('.main-product-image').attr('src', newSrc);

      // Remove 'active' from all thumbnail-containers in this product
      productContainer.find('.thumbnail-container').removeClass('active');

      // Add 'active' to the clicked thumbnail's container
      $(this).closest('.thumbnail-container').addClass('active');
    });
  });
</script>

{% schema %}
  {
    "name": "Collection Grid",
    "settings": [

    ],	
    "presets": [{
      "name": "Prosmash Collection Grid",
      "category": "Prosmash: Collection"
    }]
  }
{% endschema %}