<nav class="breadcrumb" aria-label="breadcrumbs">
    <a href="{{ routes.root_url }}">Home</a>
    <span class="breadcrumb-separator"> <img src="{{ 'CaretRight.svg' | asset_url }}" alt="Separator"></span>
    <span style="border-bottom: 2px solid white;font-weight:600;">{{ collection.title }}</span>
</nav>

{% schema %}
  {
    "name": "Breadcrumb",
    "settings": [

    ],	
    "presets": [{
      "name": "Breadcrumb",
      "category": "Prosmash: Single Product"
    }]
  }
{% endschema %}