<section class="prosmash-collection-grid">
    <div class="custom-container">
        Display here the products associated on the selected collection
    </div>
</section>

{% schema %}
  {
    "name": "Collection Grid",
    "settings": [

    ],	
    "presets": [{
      "name": "Prosmash Collection Grid",
      "category": "Prosmash: Collection"
    }]
  }
{% endschema %}