{{  "prosmash-global.css" | asset_url | stylesheet_tag }}

<div class="video-section-top-title">
  <div class="mdp-container">
    <h3>PADEL IS LOVE</h3>
    <p>Where passion meets play — unite, compete, and fall in love with the game.</p>
  </div>

</div>
<style>

  
.video-section-top-title {
    text-align: center;
    padding: 60px 0;
}
.video-section-top-title h3 {
    margin: 0;
    padding: 0;
    font-family: var(--font-redhat);
    font-weight: 700;
    color: var(--black);
    line-height: 120%;
    padding-bottom: 20px;
}
.video-section-top-title p {
    margin: 0;
    padding: 0;
    font-family: var(--font-redhat);
    line-height: 150%;
    font-weight: 500;
}
@media (max-width: 767px) {
    .video-section-top-title {
        padding: 0 0 25px;
    }
}

</style>


{% schema %}
  {
    "name": "Prosmash Text Center",
    "settings": [	  	       
      
    ],	
    "presets": [{
      "name": "Prosmash Text Center",
      "category": "Prosmash"
    }]
  }
{% endschema %}