<section class="featured">
  <div class="mdp-container">
    <div class="heading-container">
      <h3>{{ section.settings.main_heading }}</h3>
    </div>
    <div class="featured-products">
      {% if section.settings.collection %}
        {% for product in section.settings.collection.products %}
          {% render 'prosmash-product-card-v2', product: product %}
        {% endfor %}
      {% else %}
        <p>No collection selected.</p>
      {% endif %}
    </div>
    <div class="cta-btn">
      <a href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Prosmash HP Featured",
  "settings": [
    {
      "type": "text",
      "label": "Main Heading",
      "id": "main_heading",
      "default": "Featured Products"
    },
    {
      "type": "text",
      "label": "Button Text",
      "id": "button_text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "label": "Button Link",
      "id": "button_link"
    },
    {
      "type": "collection",
      "label": "Featured Collection",
      "id": "collection"
    }
  ],
  "presets": [
    {
      "name": "Prosmash HP Featured",
      "category": "Prosmash"
    }
  ]
}
{% endschema %}
