{{ "prosmash-global.css" | asset_url | stylesheet_tag }}

<section class="collection-banner" style="background-image: url('{{ section.settings.background_img | image_url: width: 1600 }}')">
    <div class="mdp-container">
        <div class="mdp-col mdp-row-full">
            {% render 'prosmash-breadcrumb' %}

            <div class="collection-banner-title">
                {{ section.settings.title }}
            </div>
            {% if section.settings.description != null %}
            <div class="collection-banner-desc">
                {{ section.settings.description   }}
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Collection Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "background_img",
        "label": "Background Image"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Title",
        "default": "Premium Padel, Delivered <br>Worldwide."
      }, 
      {
        "type": "richtext", 
        "id": "description", 
        "label": "Description",
        "default": "<p><em>Authentic gear from top brands—straight to your door.</em></p>"
      }
    ],	
    "presets": [
      {
        "name": "Prosmash Collection Banner",
        "category": "Prosmash: Collection"
      }
    ]
  }
{% endschema %}