{% comment %} {{ "prosmash-hp-featured.css" | asset_url | stylesheet_tag }} {% endcomment %}

<section class="featured">
  <div class="mdp-container">
    <h2>Maximize
Stability</h2>
<p>Take 20% Off/ Sale Must-Haves</p>
  </div>
</section>




{% schema %}
{
  "name": "Prosmash HP CTA Section",
  "settings": [
    
  ],
  "presets": [{
    "name": "Prosmash HP CTA Section",
    "category": "Prosmash"
  }]
}
{% endschema %}