<section class="hot-products">
    <div class="mdp-container">
        <div class="heading-container">
            Check our hot products
        </div>
        <div class="prod-container">
            {% for block in section.blocks %}
                {% assign product = block.settings.product %}
                {% render 'prosmash-product-card-v2', product: product %}
            {% endfor %}
        </div>
    </div>
</section>

<style>
    .hot-products {
        padding: 64px 0;
    }    
    .hot-products .heading-container {
        color: var(--black);
        font-family: var(--font-body-family);
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.3;
        text-transform: capitalize;
    }

    .prod-container {
        display: flex;
        align-items: flex-start;
        gap: 32px;
        align-self: stretch;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hot-products .mdp-container {
        display: flex;
        /* padding: 0px 64px 100px 64px; */
        flex-direction: column;
        align-items: start;
        gap: 40px;
        align-self: stretch;
    }
    .hot-products .custom-container {
        max-width: 1312px;
    }
</style>

{% schema %}
  {
    "name": "Hot Products",
    "settings": [
        
    ],
    "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select Product"
        }
      ]
    }
    ],
    "max_blocks": 4,
    "presets": [{
      "name": "Hot Products",
      "category": "Prosmash: Contact Us"
    }]
  }
{% endschema %}