

<section class="promo-banner" style="background: linear-gradient(90deg, #000 39.768%, rgba(0, 0, 0, 0) 52.27%, rgba(0, 0, 0, 0) 100%), url({{ section.settings.banner_bg | img_url: '3000x' }}) lightgray 50% / cover no-repeat;">
    <div class="mdp-container">
        <div class="content-wrapper">
            <div class="heading-container">
                <div class="main-heading">Enjoy Extra Savings</div>
                <div class="sub-heading">Become a Prosmash Club member and get year-round discount when you shop online and in-store.</div>
            </div>
            <a href="" class="btn btn-member">BECOME A MEMBER</a>
        </div>
    </div>
</section>


<style>
.promo-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    min-height: 300px;
    background-size: cover; 
    background-position: center;
}
.promo-banner .mdp-container {
    width: 100%;
    display: flex;
    padding: 56px 0 !important;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;  
}
.promo-banner .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    width: 100%;
    max-width: 480px;
}
.promo-banner .heading-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.promo-banner .heading-container .main-heading {
    color: var(--Primary-White, #FFF);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
}
.promo-banner .heading-container .sub-heading {
    color: var(--Primary-White, #FFF);
    font-family: var(--font-body-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}
.promo-banner .btn-member {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 60px;
    padding: 16px 24px;
    background-color: #FFFFFF;
    color: var(--black);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.3s ease;
}
.promo-banner .btn-member:hover {
    background-color: #f0f0f0;
}
@media (max-width: 767px) {
  
  .promo-banner {
    justify-content: center;
  }
  .promo-banner .mdp-container {
    padding: 25px !important;
  }
  .promo-banner .content-wrapper {
    gap: 24px;
    max-width: 100%;
  }
  .promo-banner .heading-container {
    align-items: center;
    text-align: center;
  }
  .promo-banner .heading-container .main-heading,
  .promo-banner .heading-container .sub-heading {
    text-align: center;
  }
  .promo-banner .heading-container .main-heading {
    white-space: normal;
  }
  .promo-banner .btn-member {
    width: 100%;
  }
  
}
</style>

{% schema %}
{
  "name": "Promo Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_bg",
      "label": "Background Image"
    }
    
  ],
  "presets": [
    {
      "name": "Promo Banner",
      "category": "Prosmash: Contact Us"
    }
  ]
}
{% endschema %}