

<section class="promo-banner" style="
        background: linear-gradient(90deg, #000 47.27%, rgba(0, 0, 0, 0.00) 70.78%, rgba(0, 0, 0, 0.00) 100%), url({{ section.settings.banner_bg | img_url: '3000x' }}) lightgray 50% / cover no-repeat;
        background-size: cover; 
        background-position: center;
  ">
    <div class="mdp-container">
        <div class="heading-container">
            <div class="main-heading">Enjoy Extra Savings</div>
            <div class="sub-heading">Become a Prosmash Club member and get year-round discount when you shop online and in-store.</div>
            <a href="" class="btn secondary">Become A Member</a>
        </div>
    </div>
</section>


<style>
.promo-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.promo-banner .mdp-container {
    width: 100%;
    display: flex;
    padding: 64px 56px !important;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;  
}
.promo-banner .heading-container {
    display: flex;
    max-width: 662px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.promo-banner .heading-container .main-heading {
    color: var(--Primary-White, #FFF);
    font-family: Lexend;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.promo-banner .heading-container .sub-heading {
    color: var(--Primary-White, #FFF);
    font-family: var(--font-body-family);;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}
@media (max-width: 767px) {
  
  .promo-banner {
    padding: 0px 15px 60px;
  }
  .promo-banner .mdp-container {
    padding: 25px !important;
  }
  .promo-banner .heading-container .main-heading,
  .promo-banner .heading-container .sub-heading {
    text-align: center;
  }
  
}
</style>

{% schema %}
{
  "name": "Promo Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_bg",
      "label": "Background Image"
    }
    
  ],
  "presets": [
    {
      "name": "Promo Banner",
      "category": "Prosmash: Contact Us"
    }
  ]
}
{% endschema %}