@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --black: #000000;
  --white: #ffffff;
  --text: #5b5b5b;
  --green: #42662b;
  --dark-green: #3e5a24;
  --grey: #f0f0f0;
  --dark-grey: #b6b4b5;
  --light-grey: #aaa;
  --font-body-family: "Poppins", sans-serif;
}

body {
  font-family: var(--font-body-family);
  box-sizing: border-box;
}

.mdp-weare-password-1 {
  position: relative;
  z-index: 0;
  height: 100vh;
  background: var(--green);
}

.mdp-weare-password-1 > .mdp-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  pointer-events: none;
  z-index: -1;
}

.mdp-weare-password-1 input {
  all: unset;
  padding: 0 15px;
  height: 48px;
  font-family: var(--font-body-family);
  font-style: normal;
  font-weight: 600;
  border-radius: 0;
  background-image: none !important;
  background-color: var(--white);
  color: var(--black);
  font-size: 16px;
  max-width: 200px;
  width: 100%;
  margin-right: 5px;
}
.mdp-weare-password-1 input::placeholder {
  color: var(--light-grey);
}
.mdp-weare-password-1 input::placeholder {
  color: var(--light-grey);
}
.mdp-weare-password-1 input::-webkit-input-placeholder {
  color: var(--light-grey);
}
.mdp-weare-password-1 input::-moz-placeholder {
  color: var(--light-grey);
}
.mdp-weare-password-1 input:-moz-placeholder {
  color: var(--light-grey);
}
.mdp-weare-password-1 input:-ms-input-placeholder {
  color: var(--light-grey);
}

.mdp-weare-password-1 button {
  all: unset;
  border-radius: 0;
  background-image: none !important;
  cursor: pointer;
  width: auto;
  font-family: var(--font-body-family);
  font-style: normal;
  font-weight: 400;
  padding: 15px 45px;
  font-size: 14px;
  line-height: 19px;
  background-color: var(--black);
  text-align: center;
  letter-spacing: 0.4px;
  border-color: var(--black);
  color: var(--white);
  transition: 0.3s all ease;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.mdp-weare-password-1 button:hover {
  background-color: var(--green);
  border-color: var(--green);
}

.mdp-weare-password-1 .mdp-opening-soon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mdp-weare-password-1 .mdp-opening-soon > .mdp-header .mdp-title {
  font-family: var(--font-body-family);
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 39px;
  color: var(--dark-green);
  text-align: center;
}
.mdp-weare-password-1 .mdp-opening-soon > .mdp-header .mdp-subtitle {
  margin: 10px 0 5px;
  font-family: var(--font-body-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--dark-green);
  text-align: center;
}
.mdp-weare-password-1 .mdp-opening-soon > .mdp-header .mdp-button {
  font-size: 15px;
  letter-spacing: 0.5px;
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  color: var(--dark-green);
  border-bottom: 1px solid transparent;
  position: relative;
  font-weight: normal;
}
.mdp-weare-password-1 .mdp-opening-soon > .mdp-header .mdp-button .mdp-text {
  margin-right: 5px;
}
.mdp-weare-password-1 .mdp-opening-soon > .mdp-header .mdp-button .mdp-icon {
  font-size: 0;
}
.mdp-weare-password-1
  .mdp-opening-soon
  > .mdp-header
  .mdp-button
  .mdp-icon
  svg {
  width: 20px;
  height: 20px;
}
.mdp-weare-password-1 .mdp-opening-soon > .mdp-header .mdp-button::before {
  content: "";
  position: absolute;
  transition: 0.3s all ease-in-out;
  left: 0;
  right: 0;
  bottom: -4px;
  height: 0;
  border-bottom: 1px solid var(--dark-green);
  opacity: 0;
  transform: translateY(5px);
}
.mdp-weare-password-1
  .mdp-opening-soon
  > .mdp-header
  .mdp-button:hover::before {
  opacity: 1;
  transform: translateY(0);
}
.mdp-weare-password-1 .mdp-opening-soon > .mdp-header .mdp-row-full {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.mdp-weare-password-1
  .mdp-opening-soon
  > .mdp-header
  .mdp-row-full
  .mdp-row-left {
  margin-right: 30px;
}
@media (max-width: 600px) {
  .mdp-weare-password-1 .mdp-opening-soon > .mdp-header .mdp-row-full {
    display: block;
  }
  .mdp-weare-password-1
    .mdp-opening-soon
    > .mdp-header
    .mdp-row-full
    .mdp-row-left {
    justify-content: center;
    padding: 10px 10px 5px 10px;
    margin-right: 0;
  }
  .mdp-weare-password-1
    .mdp-opening-soon
    > .mdp-header
    .mdp-row-full
    .mdp-row-right {
    justify-content: center;
    padding: 5px 10px 10px 10px;
  }
}
.mdp-weare-password-1 .mdp-opening-soon .mdp-header {
  margin-bottom: 50px;
}
.mdp-weare-password-1 .mdp-opening-soon .mdp-header .mdp-title {
  font-size: 31.992px;
  margin-bottom: 5px;
}
.mdp-weare-password-1 .mdp-opening-soon .mdp-signup-form .mdp-row {
  display: flex;
  align-items: center;
}
.mdp-weare-password-1 .mdp-opening-soon .mdp-social-links {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.mdp-weare-password-1 .mdp-opening-soon .mdp-social-links a {
  margin-right: 10px;
  color: var(--white);
}
.mdp-weare-password-1 .mdp-opening-soon .mdp-social-links a svg {
  height: 20px;
  fill: var(--white);
}
.mdp-weare-password-1 .mdp-opening-soon .mdp-credentials {
  margin-top: 10px;
}
.mdp-weare-password-1 .mdp-opening-soon .mdp-credentials a {
  display: inline;
  color: var(--white);
}
.mdp-weare-password-1 .mdp-storefront-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mdp-weare-password-1 .mdp-storefront-form .mdp-title {
  font-size: 30px;
  margin-bottom: 10px;
}
.mdp-weare-password-1 .mdp-storefront-form .mdp-row {
  display: flex;
  align-items: center;
}
.mdp-weare-password-1 .mdp-storefront-form .mdp-admin-login {
  margin-top: 50px;
  text-transform: uppercase;
}
.mdp-weare-password-1 .mdp-storefront-form .mdp-admin-login a {
  display: inline-block;
  color: var(--white);
}
.mdp-weare-password-1 .mdp-storefront-form-open {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  user-select: none;
  color: var(--white);
  font-family: var(--font-body-family);
}
.mdp-weare-password-1 .mdp-storefront-form-close {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  cursor: pointer;
  user-select: none;
}
.mdp-weare-password-1 .mdp-storefront-form-close svg {
  height: 30px;
}
.mdp-weare-password-1 #mdp-storefront-form {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.mdp-weare-password-1 #mdp-storefront-form:checked ~ .mdp-opening-soon,
.mdp-weare-password-1 #mdp-storefront-form:checked ~ .mdp-storefront-form-open {
  display: none;
}
.mdp-weare-password-1 #mdp-storefront-form:checked ~ .mdp-storefront-form,
.mdp-weare-password-1
  #mdp-storefront-form:checked
  ~ .mdp-storefront-form-close {
  display: block;
}
.mdp-weare-password-1 #mdp-storefront-form:not(:checked) ~ .mdp-opening-soon,
.mdp-weare-password-1
  #mdp-storefront-form:not(:checked)
  ~ .mdp-storefront-form-open {
  display: block;
}
.mdp-weare-password-1 #mdp-storefront-form:not(:checked) ~ .mdp-storefront-form,
.mdp-weare-password-1
  #mdp-storefront-form:not(:checked)
  ~ .mdp-storefront-form-close {
  display: none;
}
.mdp-weare-password-1.mdp-inverted {
  color: white;
}
.mdp-weare-password-1.mdp-inverted input {
  border-color: white;
  color: black;
}

.mdp-weare-password-1.mdp-inverted .mdp-opening-soon .mdp-header .mdp-title {
  color: white;
}

.mdp-weare-password-1.mdp-inverted .mdp-opening-soon .mdp-header .mdp-subtitle {
  color: white;
}

.mdp-weare-password-1.mdp-inverted a {
  color: white;
  transition: all 0.3s ease;
}

.mdp-weare-password-1.mdp-inverted a:hover {
  color: var(--light-grey);
}

.mdp-weare-password-1.mdp-inverted button:hover {
  background-color: var(--white);
  border-color: var(--white);
  color: var(--green);
}
