.mdp-weare-process-1 {
    margin-top: 100px;
    margin-bottom: 100px;
}
.mdp-weare-process-1 .mdp-container {
    display: flex;
    align-items: center;
}
.mdp-weare-process-1 .mdp-container > .mdp-media {
    width: 50%;
}
.mdp-weare-process-1 .mdp-container > .mdp-media .mdp-image {
    max-width: 100%;
    margin: auto;
}
.mdp-weare-process-1 .mdp-container > .mdp-data {
    width: 50%;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-header .mdp-title {
    font-family: {{ settings.weare_font_header }};
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 39px;
    color: #343434;
    text-align: center;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-header .mdp-subtitle {
    margin-bottom: 5px;
    font-family: {{ settings.weare_font_text }};
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.133333px;
    text-transform: uppercase;
    color: #343434;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-header .mdp-button {
    font-size: 15px;
    letter-spacing: 0.5px;
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    color: #2a2a2a;
    border-bottom: 1px solid transparent;
    position: relative;
    font-weight: normal;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-header .mdp-button .mdp-text {
    margin-right: 5px;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-header .mdp-button .mdp-icon {
    font-size: 0;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-header .mdp-button .mdp-icon svg {
    width: 20px;
    height: 20px;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-header .mdp-button::before {
    content: "";
    position: absolute;
    transition: 0.3s all ease-in-out;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 0;
    border-bottom: 1px solid #2a2a2a;
    opacity: 0;
    transform: translateY(5px);
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-header .mdp-button:hover::before {
    opacity: 1;
    transform: translateY(0);
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-header .mdp-row-full {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-header .mdp-row-full .mdp-row-left {
    margin-right: 30px;
}
@media (max-width: 600px) {
    .mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-header .mdp-row-full {
        display: block;
    }
    .mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-header .mdp-row-full .mdp-row-left {
        justify-content: center;
        padding: 10px 10px 5px 10px;
        margin-right: 0;
    }
    .mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-header .mdp-row-full .mdp-row-right {
        justify-content: center;
        padding: 5px 10px 10px 10px;
    }
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-header {
    margin-bottom: 30px;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-process {
    margin-top: 20px;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-process > div > .mdp-number {
    margin-bottom: 20px;
    box-sizing: content-box;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-process > div > .mdp-data > .mdp-title {
    margin-bottom: 10px;
    color: #2a2a2a;
    font-size: 12.792px;
    text-transform: uppercase;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-process > div > .mdp-data > .mdp-content p:first-child {
    margin-top: 0;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-process > div > .mdp-data > .mdp-content p:last-child {
    margin-bottom: 0;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-process > div > .mdp-data > .mdp-content a {
    color: #2a2a2a;
    transition: 0.3s all ease-in-out;
    text-decoration: underline;
    display: inline;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-process > div > .mdp-data > .mdp-content a:hover {
    color: #5838e9;
    transform: scale(1.5);
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-process > div {
    position: relative;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-process > div::before {
    content: "";
    position: absolute;
    left: 19px;
    bottom: -2px;
    top: 42px;
    width: 4px;
    background-color: rgba(0, 0, 0, 0.04);
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-process > div:last-child::before {
    content: none;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-process > div > .mdp-number {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 4px solid rgba(0, 0, 0, 0.04);
    border-radius: 100%;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-process > div > .mdp-data {
    padding-top: 10px;
    padding-left: 80px;
    padding-bottom: 20px;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-footer .mdp-button {
    margin-top: 20px;
    border-radius: 0;
    background-image: none !important;
    cursor: pointer;
    width: auto;
    font-family: {{ settings.weare_font_text }};
    font-style: normal;
    font-weight: bold;
    padding: 15px 45px;
    font-size: 14px;
    line-height: 19px;
    background-color: #343434;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    border-color: #4c90c7;
    color: white;
    transition: 0.3s all ease-in-out;
    display: inline-block;
    white-space: nowrap;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-footer .mdp-button::placeholder {
    color: #aaa;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-footer .mdp-button::placeholder {
    color: #aaa;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-footer .mdp-button::-webkit-input-placeholder {
    color: #aaa;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-footer .mdp-button::-moz-placeholder {
    color: #aaa;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-footer .mdp-button:-moz-placeholder {
    color: #aaa;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-footer .mdp-button:-ms-input-placeholder {
    color: #aaa;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-footer .mdp-button:hover {
    background-color: white;
    color: #2a2a2a;
}
.mdp-weare-process-1 .mdp-container > .mdp-data > .mdp-footer .mdp-button::before {
    content: none;
}
@media (max-width: 768px) {
    .mdp-weare-process-1 .mdp-container {
        display: block;
    }
    .mdp-weare-process-1 .mdp-container > .mdp-media {
        width: 100%;
    }
    .mdp-weare-process-1 .mdp-container > .mdp-data {
        width: 100%;
        padding-top: 40px;
    }
}
.mdp-weare-process-1[data-variant=right_text] .mdp-container > .mdp-data {
    padding-left: 50px;
}
@media (max-width: 768px) {
    .mdp-weare-process-1[data-variant=right_text] .mdp-container > .mdp-data {
        padding-left: 0;
    }
}
.mdp-weare-process-1[data-variant=left_text] .mdp-container {
    flex-direction: row-reverse;
}
.mdp-weare-process-1[data-variant=left_text] .mdp-container > .mdp-data {
    padding-right: 50px;
}
@media (max-width: 768px) {
    .mdp-weare-process-1[data-variant=left_text] .mdp-container > .mdp-data {
        padding-right: 0;
    }
}
.mdp-weare-process-1.mdp-inverted .mdp-container > .mdp-data > .mdp-header .mdp-title {
    color: white;
}
.mdp-weare-process-1.mdp-inverted .mdp-container > .mdp-data > .mdp-process > div > .mdp-number {
    color: white;
}
.mdp-weare-process-1.mdp-inverted .mdp-container > .mdp-data > .mdp-process > div > .mdp-data > .mdp-title {
    color: white;
}
.mdp-weare-process-1.mdp-inverted .mdp-container > .mdp-data > .mdp-process > div > .mdp-data > .mdp-content {
    color: white;
}
.mdp-weare-process-1.mdp-inverted .mdp-container > .mdp-data > .mdp-process > div::before {
    background-color: rgba(255, 255, 255, 0.1);
}
.mdp-weare-process-1.mdp-inverted .mdp-container > .mdp-data > .mdp-process > div > .mdp-number {
    border-color: rgba(255, 255, 255, 0.1);
}
.mdp-weare-process-1.mdp-inverted .mdp-container > .mdp-data > .mdp-footer .mdp-button {
    padding: 9px 15px;
    font-family: {{ settings.weare_font_text }};
    font-style: normal;
    font-weight: 600;
    border-radius: 0;
    background-image: none !important;
    font-size: 14px;
    background-color: white;
    border-color: white;
    color: #2a2a2a;
    transition: 0.3s all ease-in-out;
    display: inline-block;
    white-space: nowrap;
}
.mdp-weare-process-1.mdp-inverted .mdp-container > .mdp-data > .mdp-footer .mdp-button::placeholder {
    color: #aaa;
}
.mdp-weare-process-1.mdp-inverted .mdp-container > .mdp-data > .mdp-footer .mdp-button::placeholder {
    color: #aaa;
}
.mdp-weare-process-1.mdp-inverted .mdp-container > .mdp-data > .mdp-footer .mdp-button::-webkit-input-placeholder {
    color: #aaa;
}
.mdp-weare-process-1.mdp-inverted .mdp-container > .mdp-data > .mdp-footer .mdp-button::-moz-placeholder {
    color: #aaa;
}
.mdp-weare-process-1.mdp-inverted .mdp-container > .mdp-data > .mdp-footer .mdp-button:-moz-placeholder {
    color: #aaa;
}
.mdp-weare-process-1.mdp-inverted .mdp-container > .mdp-data > .mdp-footer .mdp-button:-ms-input-placeholder {
    color: #aaa;
}
.mdp-weare-process-1.mdp-inverted .mdp-container > .mdp-data > .mdp-footer .mdp-button:hover {
    background-color: #5838e9;
    border-color: #5838e9;
    color: white;
}