.mdp-weare-countdown-1{
    text-align: center;
}
.mdp-weare-countdown-1 > div{
    position: relative;
    z-index: 0;
    padding-top: 100px;
    padding-bottom: 100px;
}
.mdp-weare-countdown-1 > div > .mdp-overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    pointer-events: none;
    z-index: -1;
}
.mdp-weare-countdown-1 .mdp-data{
    position: relative;
}
.mdp-weare-countdown-1 .mdp-data .mdp-header .mdp-title{
    font-size: 31.992px;
}
.mdp-weare-countdown-1 .mdp-data .mdp-content{
    margin-top: 15px;
    font-size: 20px;
}
.mdp-weare-countdown-1 .mdp-data .mdp-content p:first-child{
    margin-top: 0;
}
.mdp-weare-countdown-1 .mdp-data .mdp-content p:last-child{
    margin-bottom: 0;
}
.mdp-weare-countdown-1 .mdp-data .mdp-content a{
    color: #2a2a2a;
    transition: 0.3s all ease-in-out;
    text-decoration: underline;
    display: inline;
}
.mdp-weare-countdown-1 .mdp-data .mdp-content a:hover{
    color: #5838e9;
    transform: scale(1.5);
}
.mdp-weare-countdown-1 .mdp-data .mdp-footer .mdp-countdown{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mdp-weare-countdown-1 .mdp-data .mdp-footer .mdp-countdown .mdp-days,
.mdp-weare-countdown-1 .mdp-data .mdp-footer .mdp-countdown .mdp-hours,
.mdp-weare-countdown-1 .mdp-data .mdp-footer .mdp-countdown .mdp-minutes,
.mdp-weare-countdown-1 .mdp-data .mdp-footer .mdp-countdown .mdp-seconds{
    text-align: center;
    margin: 0 15px;
}
.mdp-weare-countdown-1 .mdp-data .mdp-footer .mdp-countdown .mdp-days .mdp-count,
.mdp-weare-countdown-1 .mdp-data .mdp-footer .mdp-countdown .mdp-hours .mdp-count,
.mdp-weare-countdown-1 .mdp-data .mdp-footer .mdp-countdown .mdp-minutes .mdp-count,
.mdp-weare-countdown-1 .mdp-data .mdp-footer .mdp-countdown .mdp-seconds .mdp-count{
    font-size: 38.3904px;
}
.mdp-weare-countdown-1 .mdp-data .mdp-footer .mdp-button{
    margin-top: 30px;
    text-transform: uppercase;
}
.mdp-weare-countdown-1 .mdp-data .mdp-footer .mdp-signup-form{
    margin-top: 30px;
    text-align: left;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.mdp-weare-countdown-1 .mdp-data .mdp-footer .mdp-signup-form .mdp-row{
    display: flex;
    align-items: center;
}
.mdp-weare-countdown-1 .mdp-data .mdp-footer .mdp-signup-form .mdp-row input{
    padding: 9px 15px;
    font-family: {{ settings.weare_font_text }};
    font-style: normal;
    font-weight: 600;
    border-radius: 0;
    background-image: none !important;
    background-color: white;
    font-size: 14px;
    width: 100%;
    margin-right: 5px;
}
.mdp-weare-countdown-1 .mdp-data .mdp-footer .mdp-signup-form .mdp-row button{
    border-radius: 0;
    background-image: none !important;
    cursor: pointer;
    width: auto;
    font-family: {{ settings.weare_font_text }};
    font-style: normal;
    font-weight: bold;
    padding: 15px 45px;
    font-size: 14px;
    line-height: 19px;
    background-color: #343434;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    border-color: #4c90c7;
    color: white;
    transition: 0.3s all ease-in-out;
    display: inline-block;
    white-space: nowrap;
}
.mdp-weare-countdown-1 .mdp-data .mdp-footer .mdp-signup-form .mdp-row button:hover{
    background-color: white;
    color: #2a2a2a;
}
.mdp-weare-countdown-1 .mdp-data .mdp-footer .mdp-signup-form .mdp-row button::before{
    content: none;
}
.mdp-weare-countdown-1[data-variant=style_1] .mdp-data .mdp-footer .mdp-button{
    border-radius: 0;
    background-image: none !important;
    cursor: pointer;
    width: auto;
    font-family: {{ settings.weare_font_text }};
    font-style: normal;
    font-weight: bold;
    padding: 15px 45px;
    font-size: 14px;
    line-height: 19px;
    background-color: #343434;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    border-color: #4c90c7;
    color: white;
    transition: 0.3s all ease-in-out;
    display: inline-block;
    white-space: nowrap;
}
.mdp-weare-countdown-1[data-variant=style_1] .mdp-data .mdp-footer .mdp-button:hover{
    background-color: white;
    color: #2a2a2a;
}
.mdp-weare-countdown-1[data-variant=style_1] .mdp-data .mdp-footer .mdp-button::before{
    content: none;
}
.mdp-weare-countdown-1[data-variant=style_2]{
    color: white;
}
.mdp-weare-countdown-1[data-variant=style_2] .mdp-data .mdp-header .mdp-title{
    color: white;
}
.mdp-weare-countdown-1[data-variant=style_2] .mdp-data .mdp-footer .mdp-button{
    padding: 9px 15px;
    font-family: {{ settings.weare_font_text }};
    font-style: normal;
    font-weight: 600;
    border-radius: 0;
    background-image: none !important;
    font-size: 14px;
    background-color: white;
    border-color: white;
    color: #2a2a2a;
    transition: 0.3s all ease-in-out;
    display: inline-block;
    white-space: nowrap;
}
.mdp-weare-countdown-1[data-variant=style_2] .mdp-data .mdp-footer .mdp-button:hover{
    background-color: #5838e9;
    border-color: #5838e9;
    color: white;
}