.mdp-weare-header-1 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.mdp-weare-header-1 > .mdp-header .mdp-title {
    font-family: {{ settings.weare_font_header }};
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 39px;
    color: #343434;
    text-align: center;
}
.mdp-weare-header-1 > .mdp-header .mdp-subtitle {
    margin-bottom: 5px;
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.133333px;
    text-transform: uppercase;
    color: #343434;
}
.mdp-weare-header-1 > .mdp-header .mdp-button {
    font-size: 15px;
    letter-spacing: 0.5px;
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    color: #2a2a2a;
    border-bottom: 1px solid transparent;
    position: relative;
    font-weight: normal;
}
.mdp-weare-header-1 > .mdp-header .mdp-button .mdp-text {
    margin-right: 5px;
}
.mdp-weare-header-1 > .mdp-header .mdp-button .mdp-icon {
    font-size: 0;
}
.mdp-weare-header-1 > .mdp-header .mdp-button .mdp-icon svg {
    width: 20px;
    height: 20px;
}
.mdp-weare-header-1 > .mdp-header .mdp-button::before {
    content: "";
    position: absolute;
    transition: 0.3s all ease-in-out;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 0;
    border-bottom: 1px solid #2a2a2a;
    opacity: 0;
    transform: translateY(5px);
}
.mdp-weare-header-1 > .mdp-header .mdp-button:hover::before {
    opacity: 1;
    transform: translateY(0);
}
.mdp-weare-header-1 > .mdp-header .mdp-row-full {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.mdp-weare-header-1 > .mdp-header .mdp-row-full .mdp-row-left {
    margin-right: 30px;
}
@media (max-width: 600px) {
    .mdp-weare-header-1 > .mdp-header .mdp-row-full {
        display: block;
    }
    .mdp-weare-header-1 > .mdp-header .mdp-row-full .mdp-row-left {
        justify-content: center;
        padding: 10px 10px 5px 10px;
        margin-right: 0;
    }
    .mdp-weare-header-1 > .mdp-header .mdp-row-full .mdp-row-right {
        justify-content: center;
        padding: 5px 10px 10px 10px;
    }
}