.mdp-weare-collection-tabs {
    margin-top: 50px;
    margin-bottom: 100px;
}
.mdp-weare-collection-tabs > .mdp-header {
    margin-bottom: 40px;
}
.mdp-weare-collection-tabs > .mdp-tabs > .mdp-titles {
    margin-bottom: 18px;
    border-bottom: 1px solid #DCDCDC;
}
.mdp-weare-collection-tabs > .mdp-tabs > .mdp-titles > span {
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.327273px;
    text-transform: uppercase;
    color: #7B7B7B;
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    border-bottom: 1px solid transparent;
    position: relative;
    display: inline-flex;
}
.mdp-weare-collection-tabs > .mdp-tabs > .mdp-titles > span::before {
    content: "";
    position: absolute;
    transition: 0.3s all ease-in-out;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 0;
    border-bottom: 3px solid #343434;
    opacity: 0;
    transform: translateY(5px);
}
.mdp-weare-collection-tabs > .mdp-tabs > .mdp-titles > span:hover::before {
    opacity: 1;
    transform: translateY(0);
}
.mdp-weare-collection-tabs > .mdp-tabs > .mdp-titles > span .mdp-icon {
    display: flex;
    margin-right: 5px;
}
.mdp-weare-collection-tabs > .mdp-tabs > .mdp-titles > span .mdp-icon svg {
    height: 1.5em;
}
.mdp-weare-collection-tabs > .mdp-tabs > .mdp-titles .mdp-active {
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.327273px;
    text-transform: uppercase;
    color: #343434;
    border-bottom: 3px solid #343434;
}
.mdp-weare-collection-tabs > .mdp-header .mdp-title{
    font-family: {{ settings.weare_font_header }};
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 39px;
    color: #343434;
    text-align: center;
}
.mdp-weare-collection-tabs > .mdp-header .mdp-subtitle{
    margin-bottom: 5px;
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.133333px;
    text-transform: uppercase;
    color: #343434;
}
.mdp-weare-collection-tabs > .mdp-header .mdp-button{
    font-size: 15px;
    letter-spacing: 0.5px;
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    color: #2a2a2a;
    border-bottom: 1px solid transparent;
    position: relative;
    font-weight: normal;
}
.mdp-weare-collection-tabs > .mdp-header .mdp-button .mdp-text{
    margin-right: 5px;
}
.mdp-weare-collection-tabs > .mdp-header .mdp-button .mdp-icon{
    font-size: 0;
}
.mdp-weare-collection-tabs > .mdp-header .mdp-button .mdp-icon svg{
    width: 20px;
    height: 20px;
}
.mdp-weare-collection-tabs > .mdp-header .mdp-button::before{
    content: "";
    position: absolute;
    transition: 0.3s all ease-in-out;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 0;
    border-bottom: 1px solid #2a2a2a;
    opacity: 0;
    transform: translateY(5px);
}
.mdp-weare-collection-tabs > .mdp-header .mdp-button:hover::before{
    opacity: 1;
    transform: translateY(0);
}
.mdp-weare-collection-tabs > .mdp-header .mdp-row-full{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.mdp-weare-collection-tabs > .mdp-header .mdp-row-full .mdp-row-left{
    margin-right: 30px;
}

@media (max-width: 600px) {
    .mdp-weare-collection-tabs > .mdp-header .mdp-row-full{
        display: block;
    }
    .mdp-weare-collection-tabs > .mdp-header .mdp-row-full .mdp-row-left{
        justify-content: center;
        padding: 10px 10px 5px 10px;
        margin-right: 0;
    }
    .mdp-weare-collection-tabs > .mdp-header .mdp-row-full .mdp-row-right{
        justify-content: center;
        padding: 5px 10px 10px 10px;
    }
}