.mdp-weare-icon-list-1 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.mdp-weare-icon-list-1 .mdp-grid[data-columns][data-gap] {
    align-items: stretch;
}
.mdp-weare-icon-list-1 .mdp-grid[data-columns][data-gap] .mdp-icon-list-item {
    display: flex;
}
.mdp-weare-icon-list-1 .mdp-grid[data-columns][data-gap] .mdp-icon-list-item .mdp-media .mdp-icon {
    display: inline-block;
    height: 30px;
    width: 30px;
}
.mdp-weare-icon-list-1 .mdp-grid[data-columns][data-gap] .mdp-icon-list-item .mdp-data {
    padding-top: 4px;
    padding-left: 20px;
}
.mdp-weare-icon-list-1 .mdp-grid[data-columns][data-gap] .mdp-icon-list-item .mdp-data .mdp-header {
    margin-bottom: 20px;
}
.mdp-weare-icon-list-1 .mdp-grid[data-columns][data-gap] .mdp-icon-list-item .mdp-data .mdp-header .mdp-title {
    color: #2a2a2a;
    text-transform: uppercase;
    font-size: 20px;
}
.mdp-weare-icon-list-1 .mdp-grid[data-columns][data-gap] .mdp-icon-list-item .mdp-data .mdp-content p:first-child {
    margin-top: 0;
}
.mdp-weare-icon-list-1 .mdp-grid[data-columns][data-gap] .mdp-icon-list-item .mdp-data .mdp-content p:last-child {
    margin-bottom: 0;
}
.mdp-weare-icon-list-1 .mdp-grid[data-columns][data-gap] .mdp-icon-list-item .mdp-data .mdp-content a {
    color: #2a2a2a;
    transition: 0.3s all ease-in-out;
    text-decoration: underline;
    display: inline;
}
.mdp-weare-icon-list-1 .mdp-grid[data-columns][data-gap] .mdp-icon-list-item .mdp-data .mdp-content a:hover {
    color: #5838e9;
    transform: scale(1.5);
}
.mdp-weare-icon-list-1 .mdp-grid[data-columns][data-gap] .mdp-icon-list-item .mdp-data .mdp-footer .mdp-button {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.5px;
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    color: #2a2a2a;
    border-bottom: 1px solid transparent;
    position: relative;
    margin-top: 15px;
}
.mdp-weare-icon-list-1 .mdp-grid[data-columns][data-gap] .mdp-icon-list-item .mdp-data .mdp-footer .mdp-button .mdp-text {
    margin-right: 5px;
}
.mdp-weare-icon-list-1 .mdp-grid[data-columns][data-gap] .mdp-icon-list-item .mdp-data .mdp-footer .mdp-button .mdp-icon {
    font-size: 0;
}
.mdp-weare-icon-list-1 .mdp-grid[data-columns][data-gap] .mdp-icon-list-item .mdp-data .mdp-footer .mdp-button .mdp-icon svg {
    width: 20px;
    height: 20px;
}
.mdp-weare-icon-list-1 .mdp-grid[data-columns][data-gap] .mdp-icon-list-item .mdp-data .mdp-footer .mdp-button::before {
    content: "";
    position: absolute;
    transition: 0.3s all ease-in-out;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 0;
    border-bottom: 1px solid #2a2a2a;
    opacity: 0;
    transform: translateY(5px);
}
.mdp-weare-icon-list-1 .mdp-grid[data-columns][data-gap] .mdp-icon-list-item .mdp-data .mdp-footer .mdp-button:hover::before {
    opacity: 1;
    transform: translateY(0);
}