.mdp-weare-404-1[data-variant="left_text"],
.mdp-weare-404-1[data-variant="right_text"],
.mdp-weare-404-1[data-variant="left_text_inverted"],
.mdp-weare-404-1[data-variant="right_text_inverted"] {
  margin-block: 100px;
}

.mdp-weare-404-1 .mdp-title {
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-bottom: 20px;
}

.mdp-weare-404-1 .mdp-subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin-bottom: 40px;
}

.mdp-weare-404-1 .mdp-content {
  font-size: 16px;
  line-height: normal;
  text-align: center;
  margin-bottom: 40px;
}

.mdp-weare-404-1 .mdp-footer .btn {
  text-align: center;
  margin-inline: auto;
}

@media screen and (max-width: 540px) {
  .mdp-weare-404-1[data-variant="left_text"],
  .mdp-weare-404-1[data-variant="right_text"],
  .mdp-weare-404-1[data-variant="left_text_inverted"],
  .mdp-weare-404-1[data-variant="right_text_inverted"] {
    margin-block: 50px;
  }
}
