.mdp-weare-promo-2[data-variant=left_text],
.mdp-weare-promo-2[data-variant=right_text],
.mdp-weare-promo-2[data-variant=left_text_inverted],
.mdp-weare-promo-2[data-variant=right_text_inverted]{
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
}
.mdp-weare-promo-2[data-variant=left_text] > .mdp-media .mdp-image,
.mdp-weare-promo-2[data-variant=right_text] > .mdp-media .mdp-image,
.mdp-weare-promo-2[data-variant=left_text_inverted] > .mdp-media .mdp-image,
.mdp-weare-promo-2[data-variant=right_text_inverted] > .mdp-media .mdp-image{
    position: absolute;
    top: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
}
.mdp-weare-promo-2[data-variant=left_text] .mdp-container,
.mdp-weare-promo-2[data-variant=right_text] .mdp-container,
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container{
    display: flex;
}
.mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data,
.mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data,
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data{
    box-sizing: border-box;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data > .mdp-header .mdp-title,
.mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data > .mdp-header .mdp-title,
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-title,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-title{
    font-family: {{ settings.weare_font_header }};
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 39px;
    color: #343434;
    text-align: center;
}
.mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data > .mdp-header .mdp-subtitle,
.mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data > .mdp-header .mdp-subtitle,
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-subtitle,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-subtitle{
    margin-bottom: 5px;
    font-family: {{ settings.weare_font_text }};
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.133333px;
    text-transform: uppercase;
    color: #343434;
}
.mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data > .mdp-header .mdp-button,
.mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data > .mdp-header .mdp-button,
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-button,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-button{
    font-size: 15px;
    letter-spacing: 0.5px;
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    color: #2a2a2a;
    border-bottom: 1px solid transparent;
    position: relative;
    font-weight: normal;
}
.mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data > .mdp-header .mdp-button .mdp-text,
.mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data > .mdp-header .mdp-button .mdp-text,
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-button .mdp-text,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-button .mdp-text{
    margin-right: 5px;
}
.mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data > .mdp-header .mdp-button .mdp-icon,
.mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data > .mdp-header .mdp-button .mdp-icon,
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-button .mdp-icon,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-button .mdp-icon{
    font-size: 0;
}
.mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data > .mdp-header .mdp-button .mdp-icon svg,
.mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data > .mdp-header .mdp-button .mdp-icon svg,
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-button .mdp-icon svg,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-button .mdp-icon svg{
    width: 20px;
    height: 20px;
}
.mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data > .mdp-header .mdp-button::before,
.mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data > .mdp-header .mdp-button::before,
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-button::before,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-button::before{
    content: "";
    position: absolute;
    transition: 0.3s all ease-in-out;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 0;
    border-bottom: 1px solid #2a2a2a;
    opacity: 0;
    transform: translateY(5px);
}
.mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data > .mdp-header .mdp-button:hover::before,
.mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data > .mdp-header .mdp-button:hover::before,
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-button:hover::before,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-button:hover::before{
    opacity: 1;
    transform: translateY(0);
}
.mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data > .mdp-header .mdp-row-full,
.mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data > .mdp-header .mdp-row-full,
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-row-full,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-row-full{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data > .mdp-header .mdp-row-full .mdp-row-left,
.mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data > .mdp-header .mdp-row-full .mdp-row-left,
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-row-full .mdp-row-left,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-row-full .mdp-row-left{
    margin-right: 30px;
}
@media (max-width: 600px) {
    .mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data > .mdp-header .mdp-row-full,
    .mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data > .mdp-header .mdp-row-full,
    .mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-row-full,
    .mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-row-full{
        display: block;
    }
    .mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data > .mdp-header .mdp-row-full .mdp-row-left,
    .mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data > .mdp-header .mdp-row-full .mdp-row-left,
    .mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-row-full .mdp-row-left,
    .mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-row-full .mdp-row-left{
        justify-content: center;
        padding: 10px 10px 5px 10px;
        margin-right: 0;
    }
    .mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data > .mdp-header .mdp-row-full .mdp-row-right,
    .mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data > .mdp-header .mdp-row-full .mdp-row-right,
    .mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-row-full .mdp-row-right,
    .mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-row-full .mdp-row-right{
        justify-content: center;
        padding: 5px 10px 10px 10px;
    }
}
.mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data > .mdp-header,
.mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data > .mdp-header,
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-header,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-header{
    margin-bottom: 30px;
}
.mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data > .mdp-content,
.mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data > .mdp-content,
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-content,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-content{
    margin-top: 30px;
}
.mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data > .mdp-footer .mdp-items,
.mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data > .mdp-footer .mdp-items,
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-footer .mdp-items,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-footer .mdp-items{
    margin-top: 20px;
}
.mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data > .mdp-footer .mdp-items .mdp-item,
.mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data > .mdp-footer .mdp-items .mdp-item,
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-footer .mdp-items .mdp-item,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-footer .mdp-items .mdp-item{
    margin-bottom: 10px;
    display: flex;
    align-items: start;
}
.mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data > .mdp-footer .mdp-items .mdp-item .mdp-icon,
.mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data > .mdp-footer .mdp-items .mdp-item .mdp-icon,
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-footer .mdp-items .mdp-item .mdp-icon,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-footer .mdp-items .mdp-item .mdp-icon{
    color: white;
    background-color: #2a2a2a;
    padding: 0;
    margin-top: 3px;
    font-size: 0;
    border-radius: 50%;
    margin-right: 13px;
}
.mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data > .mdp-footer .mdp-items .mdp-item .mdp-icon svg,
.mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data > .mdp-footer .mdp-items .mdp-item .mdp-icon svg,
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-footer .mdp-items .mdp-item .mdp-icon svg,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-footer .mdp-items .mdp-item .mdp-icon svg{
    width: 15px;
    height: 15px;
}
.mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data > .mdp-footer .mdp-button,
.mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data > .mdp-footer .mdp-button,
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-footer .mdp-button,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-footer .mdp-button{
    margin-top: 50px;
    border-radius: 0;
    background-image: none !important;
    cursor: pointer;
    width: auto;
    font-family: {{ settings.weare_font_text }};
    font-style: normal;
    font-weight: bold;
    padding: 15px 45px;
    font-size: 14px;
    line-height: 19px;
    background-color: #343434;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    border-color: #4c90c7;
    color: white;
    transition: 0.3s all ease-in-out;
    display: inline-block;
    white-space: nowrap;
}
.mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data > .mdp-footer .mdp-button:hover,
.mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data > .mdp-footer .mdp-button:hover,
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-footer .mdp-button:hover,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-footer .mdp-button:hover{
    background-color: white;
    color: #2a2a2a;
}
.mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data > .mdp-footer .mdp-button::before,
.mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data > .mdp-footer .mdp-button::before,
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-footer .mdp-button::before,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-footer .mdp-button::before{
    content: none;
}

@media (max-width: 768px) {
    .mdp-weare-promo-2[data-variant=left_text] > div.mdp-media,
    .mdp-weare-promo-2[data-variant=right_text] > div.mdp-media,
    .mdp-weare-promo-2[data-variant=left_text_inverted] > div.mdp-media,
    .mdp-weare-promo-2[data-variant=right_text_inverted] > div.mdp-media{
        height: 400px;
        position: relative;
    }
    .mdp-weare-promo-2[data-variant=left_text] > div.mdp-media div.mdp-image,
    .mdp-weare-promo-2[data-variant=right_text] > div.mdp-media div.mdp-image,
    .mdp-weare-promo-2[data-variant=left_text_inverted] > div.mdp-media div.mdp-image,
    .mdp-weare-promo-2[data-variant=right_text_inverted] > div.mdp-media div.mdp-image{
        left: 0;
        right: 0;
    }
    .mdp-weare-promo-2[data-variant=left_text] div.mdp-container,
    .mdp-weare-promo-2[data-variant=right_text] div.mdp-container,
    .mdp-weare-promo-2[data-variant=left_text_inverted] div.mdp-container,
    .mdp-weare-promo-2[data-variant=right_text_inverted] div.mdp-container{
        display: block;
    }
    .mdp-weare-promo-2[data-variant=left_text] div.mdp-container div.mdp-data,
    .mdp-weare-promo-2[data-variant=right_text] div.mdp-container div.mdp-data,
    .mdp-weare-promo-2[data-variant=left_text_inverted] div.mdp-container div.mdp-data,
    .mdp-weare-promo-2[data-variant=right_text_inverted] div.mdp-container div.mdp-data{
        width: 100%;
        padding: 40px 0;
    }
}

.mdp-weare-promo-2[data-variant=right_text] > .mdp-media .mdp-image,
.mdp-weare-promo-2[data-variant=right_text_inverted] > .mdp-media .mdp-image{
    left: 0;
    right: 50%;
}
.mdp-weare-promo-2[data-variant=right_text] .mdp-container,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container{
    justify-content: flex-end;
}
.mdp-weare-promo-2[data-variant=right_text] .mdp-container > .mdp-data,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data{
    padding-left: 50px;
}
.mdp-weare-promo-2[data-variant=left_text] > .mdp-media .mdp-image,
.mdp-weare-promo-2[data-variant=left_text_inverted] > .mdp-media .mdp-image{
    left: 50%;
    right: 0;
}
.mdp-weare-promo-2[data-variant=left_text] .mdp-container,
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container{
    justify-content: flex-start;
}
.mdp-weare-promo-2[data-variant=left_text] .mdp-container > .mdp-data,
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data{
    padding-right: 50px;
}
.mdp-weare-promo-2[data-variant=left_text_inverted],
.mdp-weare-promo-2[data-variant=right_text_inverted]{
    background-color: #2a2a2a;
}
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-title,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-title{
    color: white;
}
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-subtitle,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-header .mdp-subtitle{
    color: white;
}
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-content,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-content{
    color: white;
}
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-footer .mdp-items .mdp-item .mdp-icon,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-footer .mdp-items .mdp-item .mdp-icon{
    color: #2a2a2a;
    background-color: white;
}
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-footer .mdp-items .mdp-item .mdp-text,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-footer .mdp-items .mdp-item .mdp-text{
    color: white;
}
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-footer .mdp-button,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-footer .mdp-button{
    padding: 9px 15px;
    font-family: {{ settings.weare_font_text }};
    font-style: normal;
    font-weight: 600;
    border-radius: 0;
    background-image: none !important;
    font-size: 14px;
    background-color: white;
    border-color: white;
    color: #2a2a2a;
    transition: 0.3s all ease-in-out;
    display: inline-block;
    white-space: nowrap;
}
.mdp-weare-promo-2[data-variant=left_text_inverted] .mdp-container > .mdp-data > .mdp-footer .mdp-button:hover,
.mdp-weare-promo-2[data-variant=right_text_inverted] .mdp-container > .mdp-data > .mdp-footer .mdp-button:hover{
    background-color: #5838e9;
    border-color: #5838e9;
    color: white;
}