.mdp-weare-carousel-1 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.mdp-weare-carousel-1 > .mdp-header .mdp-title {
    font-family: {{ settings.weare_font_header }};
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 39px;
    color: #343434;
    text-align: center;
}
.mdp-weare-carousel-1 > .mdp-header .mdp-subtitle {
    margin-bottom: 5px;
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.133333px;
    text-transform: uppercase;
    color: #343434;
}
.mdp-weare-carousel-1 > .mdp-header .mdp-button {
    font-size: 15px;
    letter-spacing: 0.5px;
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    color: #2a2a2a;
    border-bottom: 1px solid transparent;
    position: relative;
    font-weight: normal;
}
.mdp-weare-carousel-1 > .mdp-header .mdp-button .mdp-text {
    margin-right: 5px;
}
.mdp-weare-carousel-1 > .mdp-header .mdp-button .mdp-icon {
    font-size: 0;
}
.mdp-weare-carousel-1 > .mdp-header .mdp-button .mdp-icon svg {
    width: 20px;
    height: 20px;
}
.mdp-weare-carousel-1 > .mdp-header .mdp-button::before {
    content: "";
    position: absolute;
    transition: 0.3s all ease-in-out;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 0;
    border-bottom: 1px solid #2a2a2a;
    opacity: 0;
    transform: translateY(5px);
}
.mdp-weare-carousel-1 > .mdp-header .mdp-button:hover::before {
    opacity: 1;
    transform: translateY(0);
}
.mdp-weare-carousel-1 > .mdp-header .mdp-row-full {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.mdp-weare-carousel-1 > .mdp-header .mdp-row-full .mdp-row-left {
    margin-right: 30px;
}
.mdp-weare-carousel-1 > .mdp-header {
    margin-bottom: 25px;
}
.mdp-weare-carousel-1 > .mdp-swiper-container > .mdp-swiper-wrapper {
    padding-bottom: 50px;
    height: auto;
}
.mdp-weare-carousel-1 .mdp-image-box {
    padding: 30px;
}
.mdp-weare-carousel-1 .mdp-image-box .mdp-media {
    margin-bottom: 20px;
}
.mdp-weare-carousel-1 .mdp-image-box .mdp-media .mdp-image {
    max-width: 100%;
    margin: auto;
    transition: 0.3s all ease-in-out;
}
.mdp-weare-carousel-1 .mdp-image-box .mdp-data .mdp-header .mdp-title {
    color: #2a2a2a;
    text-transform: uppercase;
    font-size: 20px;
}
.mdp-weare-carousel-1 .mdp-image-box .mdp-data .mdp-content {
    margin-top: 10px;
}
.mdp-weare-carousel-1 .mdp-image-box .mdp-data .mdp-content p:first-child {
    margin-top: 0;
}
.mdp-weare-carousel-1 .mdp-image-box .mdp-data .mdp-content p:last-child {
    margin-bottom: 0;
}
.mdp-weare-carousel-1 .mdp-image-box .mdp-data .mdp-content a {
    color: #2a2a2a;
    transition: 0.3s all ease-in-out;
    text-decoration: underline;
    display: inline;
}
.mdp-weare-carousel-1 .mdp-image-box .mdp-data .mdp-content a:hover {
    color: #5838e9;
    transform: scale(1.5);
}
.mdp-weare-carousel-1 .mdp-image-box a:hover .mdp-media .mdp-image {
    opacity: 0.8;
}
.mdp-weare-carousel-1 .mdp-image-box.mdp-inverted .mdp-data .mdp-header .mdp-title {
    color: white;
}
.mdp-weare-carousel-1 .mdp-image-box.mdp-inverted .mdp-data .mdp-content {
    color: white;
}
.mdp-weare-carousel-1 .mdp-image-box.mdp-horizontal {
    display: flex;
    align-items: center;
}
.mdp-weare-carousel-1 .mdp-image-box.mdp-horizontal > a {
    display: flex;
    align-items: center;
}
.mdp-weare-carousel-1 .mdp-image-box.mdp-horizontal .mdp-media {
    margin-bottom: 0;
    margin-right: 20px;
    width: 100%;
}
.mdp-weare-carousel-1 .mdp-image-box.mdp-horizontal .mdp-media {
    width: 100%;
}
.mdp-weare-carousel-1 .mdp-image-box.mdp-reversed.mdp-horizontal {
    flex-direction: row-reverse;
}
.mdp-weare-carousel-1 .mdp-image-box.mdp-reversed.mdp-horizontal > a {
    flex-direction: row-reverse;
}
.mdp-weare-carousel-1 .mdp-image-box.mdp-reversed.mdp-horizontal .mdp-media {
    margin-right: 0;
    margin-left: 20px;
}
.mdp-weare-carousel-1 .mdp-image-box.mdp-reversed:not(.mdp-horizontal) {
    display: flex;
    flex-direction: column-reverse;
}
.mdp-weare-carousel-1 .mdp-image-box.mdp-reversed:not(.mdp-horizontal) > a {
    display: flex;
    flex-direction: column-reverse;
}
.mdp-weare-carousel-1 .mdp-image-box.mdp-reversed:not(.mdp-horizontal) .mdp-media {
    margin-bottom: 0;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .mdp-weare-carousel-1 > .mdp-header .mdp-row-full {
        display: block;
    }
    .mdp-weare-carousel-1 > .mdp-header .mdp-row-full .mdp-row-left {
        justify-content: center;
        padding: 10px 10px 5px 10px;
        margin-right: 0;
    }
    .mdp-weare-carousel-1 > .mdp-header .mdp-row-full .mdp-row-right {
        justify-content: center;
        padding: 5px 10px 10px 10px;
    }
}