.mdp-weare-call-to-action-3 {
    position: relative;
    z-index: 0;
}
.mdp-weare-call-to-action-3 > .mdp-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    pointer-events: none;
    z-index: -1;
}
.mdp-weare-call-to-action-3 .mdp-container {
    position: relative;
    display: flex;
    align-items: center;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-media {
    margin-right: 30px;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-media .mdp-icon {
    color: #5838e9;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-media .mdp-icon svg {
    width: 50px;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data > .mdp-header .mdp-title {
    font-family: {{ settings.weare_font_header }};
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 39px;
    color: #343434;
    text-align: center;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data > .mdp-header .mdp-subtitle {
    margin-bottom: 5px;
    font-family: {{ settings.weare_font_text }};
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.133333px;
    text-transform: uppercase;
    color: #343434;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data > .mdp-header .mdp-button {
    font-size: 15px;
    letter-spacing: 0.5px;
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    color: #2a2a2a;
    border-bottom: 1px solid transparent;
    position: relative;
    font-weight: normal;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data > .mdp-header .mdp-button .mdp-text {
    margin-right: 5px;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data > .mdp-header .mdp-button .mdp-icon {
    font-size: 0;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data > .mdp-header .mdp-button .mdp-icon svg {
    width: 20px;
    height: 20px;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data > .mdp-header .mdp-button::before {
    content: "";
    position: absolute;
    transition: 0.3s all ease-in-out;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 0;
    border-bottom: 1px solid #2a2a2a;
    opacity: 0;
    transform: translateY(5px);
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data > .mdp-header .mdp-button:hover::before {
    opacity: 1;
    transform: translateY(0);
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data > .mdp-header .mdp-row-full {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data > .mdp-header .mdp-row-full .mdp-row-left {
    margin-right: 30px;
}
@media (max-width: 600px) {
    .mdp-weare-call-to-action-3 .mdp-container .mdp-data > .mdp-header .mdp-row-full {
        display: block;
    }
    .mdp-weare-call-to-action-3 .mdp-container .mdp-data > .mdp-header .mdp-row-full .mdp-row-left {
        justify-content: center;
        padding: 10px 10px 5px 10px;
        margin-right: 0;
    }
    .mdp-weare-call-to-action-3 .mdp-container .mdp-data > .mdp-header .mdp-row-full .mdp-row-right {
        justify-content: center;
        padding: 5px 10px 10px 10px;
    }
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data > .mdp-header {
    margin-bottom: 0;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data > .mdp-header .mdp-title {
    margin-bottom: 14px;
    font-family: {{ settings.weare_font_header }};
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 38px;
    letter-spacing: 0.11875px;
    color: #343434;
    text-align: center;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data > .mdp-header .mdp-title:after {
    content: "..";
    display: block;
    margin-top: -10px;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data > .mdp-header .mdp-subtitle {
    margin-top: 15px;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-header {
    margin-bottom: 0;
    width: 70%;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-header .mdp-title {
    margin-bottom: 10px;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-header .mdp-content p:first-child {
    margin-top: 0;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-header .mdp-content p:last-child {
    margin-bottom: 0;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-header .mdp-content a {
    color: #2a2a2a;
    transition: 0.3s all ease-in-out;
    text-decoration: underline;
    display: inline;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-header .mdp-content a:hover {
    color: #5838e9;
    transform: scale(1.5);
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-footer .mdp-button {
    border-radius: 0;
    background-image: none !important;
    cursor: pointer;
    width: auto;
    font-family: {{ settings.weare_font_text }};
    font-style: normal;
    font-weight: bold;
    padding: 15px 45px;
    font-size: 14px;
    line-height: 19px;
    background-color: #343434;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    border-color: #4c90c7;
    color: white;
    transition: 0.3s all ease-in-out;
    display: inline-block;
    white-space: nowrap;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-footer .mdp-button::placeholder {
    color: #aaa;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-footer .mdp-button::placeholder {
    color: #aaa;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-footer .mdp-button::-webkit-input-placeholder {
    color: #aaa;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-footer .mdp-button::-moz-placeholder {
    color: #aaa;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-footer .mdp-button:-moz-placeholder {
    color: #aaa;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-footer .mdp-button:-ms-input-placeholder {
    color: #aaa;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-footer .mdp-button:hover {
    background-color: white;
    color: #2a2a2a;
}
.mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-footer .mdp-button::before {
    content: none;
}
@media (max-width: 768px) {
    .mdp-weare-call-to-action-3 .mdp-container {
        display: block;
        text-align: center;
    }
    .mdp-weare-call-to-action-3 .mdp-container .mdp-media {
        margin-right: 0;
    }
    .mdp-weare-call-to-action-3 .mdp-container .mdp-data {
        width: 100%;
        margin: auto;
        display: block;
    }
    .mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-header {
        width: 100%;
    }
    .mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-footer {
        margin-top: 30px;
    }
    .mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-footer .mdp-button {
        border-radius: 0;
        background-image: none !important;
        cursor: pointer;
        width: auto;
        font-family: {{ settings.weare_font_text }};
        font-style: normal;
        font-weight: bold;
        padding: 15px 45px;
        font-size: 14px;
        line-height: 19px;
        background-color: #343434;
        text-align: center;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        border-color: #4c90c7;
        color: white;
        transition: 0.3s all ease-in-out;
        display: inline-block;
        white-space: nowrap;
    }
    .mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-footer .mdp-button::placeholder {
        color: #aaa;
    }
    .mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-footer .mdp-button::placeholder {
        color: #aaa;
    }
    .mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-footer .mdp-button::-webkit-input-placeholder {
        color: #aaa;
    }
    .mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-footer .mdp-button::-moz-placeholder {
        color: #aaa;
    }
    .mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-footer .mdp-button:-moz-placeholder {
        color: #aaa;
    }
    .mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-footer .mdp-button:-ms-input-placeholder {
        color: #aaa;
    }
    .mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-footer .mdp-button:hover {
        background-color: white;
        color: #2a2a2a;
    }
    .mdp-weare-call-to-action-3 .mdp-container .mdp-data .mdp-footer .mdp-button::before {
        content: none;
    }
}
.mdp-weare-call-to-action-3[data-variant=right_text] .mdp-container,
.mdp-weare-call-to-action-3[data-variant=right_text_inverted] .mdp-container {
    flex-direction: row-reverse;
}
.mdp-weare-call-to-action-3[data-variant=right_text] .mdp-container .mdp-media,
.mdp-weare-call-to-action-3[data-variant=right_text_inverted] .mdp-container .mdp-media {
    margin-right: 0;
    margin-left: 30px;
}
.mdp-weare-call-to-action-3[data-variant=right_text] .mdp-container .mdp-data,
.mdp-weare-call-to-action-3[data-variant=right_text_inverted] .mdp-container .mdp-data {
    flex-direction: row-reverse;
}
.mdp-weare-call-to-action-3[data-variant=right_text] .mdp-container .mdp-data .mdp-header,
.mdp-weare-call-to-action-3[data-variant=right_text_inverted] .mdp-container .mdp-data .mdp-header {
    text-align: right;
}
@media (max-width: 768px) {
    .mdp-weare-call-to-action-3[data-variant=right_text] .mdp-container .mdp-media,
    .mdp-weare-call-to-action-3[data-variant=right_text_inverted] .mdp-container .mdp-media {
        margin-left: 0;
    }
    .mdp-weare-call-to-action-3[data-variant=right_text] .mdp-container .mdp-data .mdp-header,
    .mdp-weare-call-to-action-3[data-variant=right_text_inverted] .mdp-container .mdp-data .mdp-header {
        text-align: center;
    }
}
.mdp-weare-call-to-action-3[data-variant=left_text_inverted] .mdp-container .mdp-media .mdp-icon,
.mdp-weare-call-to-action-3[data-variant=right_text_inverted] .mdp-container .mdp-media .mdp-icon {
    color: white;
}
.mdp-weare-call-to-action-3[data-variant=left_text_inverted] .mdp-container .mdp-data .mdp-header .mdp-title,
.mdp-weare-call-to-action-3[data-variant=right_text_inverted] .mdp-container .mdp-data .mdp-header .mdp-title {
    color: white;
}
.mdp-weare-call-to-action-3[data-variant=left_text_inverted] .mdp-container .mdp-data .mdp-header .mdp-content,
.mdp-weare-call-to-action-3[data-variant=right_text_inverted] .mdp-container .mdp-data .mdp-header .mdp-content {
    color: white;
}
.mdp-weare-call-to-action-3[data-variant=left_text_inverted] .mdp-container .mdp-data .mdp-footer .mdp-button,
.mdp-weare-call-to-action-3[data-variant=right_text_inverted] .mdp-container .mdp-data .mdp-footer .mdp-button {
    padding: 9px 15px;
    font-family: {{ settings.weare_font_text }};
    font-style: normal;
    font-weight: 600;
    border-radius: 0;
    background-image: none !important;
    font-size: 14px;
    background-color: white;
    border-color: white;
    color: #2a2a2a;
    transition: 0.3s all ease-in-out;
    display: inline-block;
    white-space: nowrap;
}
.mdp-weare-call-to-action-3[data-variant=left_text_inverted] .mdp-container .mdp-data .mdp-footer .mdp-button::placeholder,
.mdp-weare-call-to-action-3[data-variant=right_text_inverted] .mdp-container .mdp-data .mdp-footer .mdp-button::placeholder {
    color: #aaa;
}
.mdp-weare-call-to-action-3[data-variant=left_text_inverted] .mdp-container .mdp-data .mdp-footer .mdp-button::placeholder,
.mdp-weare-call-to-action-3[data-variant=right_text_inverted] .mdp-container .mdp-data .mdp-footer .mdp-button::placeholder {
    color: #aaa;
}
.mdp-weare-call-to-action-3[data-variant=left_text_inverted] .mdp-container .mdp-data .mdp-footer .mdp-button::-webkit-input-placeholder,
.mdp-weare-call-to-action-3[data-variant=right_text_inverted] .mdp-container .mdp-data .mdp-footer .mdp-button::-webkit-input-placeholder {
    color: #aaa;
}
.mdp-weare-call-to-action-3[data-variant=left_text_inverted] .mdp-container .mdp-data .mdp-footer .mdp-button::-moz-placeholder,
.mdp-weare-call-to-action-3[data-variant=right_text_inverted] .mdp-container .mdp-data .mdp-footer .mdp-button::-moz-placeholder {
    color: #aaa;
}
.mdp-weare-call-to-action-3[data-variant=left_text_inverted] .mdp-container .mdp-data .mdp-footer .mdp-button:-moz-placeholder,
.mdp-weare-call-to-action-3[data-variant=right_text_inverted] .mdp-container .mdp-data .mdp-footer .mdp-button:-moz-placeholder {
    color: #aaa;
}
.mdp-weare-call-to-action-3[data-variant=left_text_inverted] .mdp-container .mdp-data .mdp-footer .mdp-button:-ms-input-placeholder,
.mdp-weare-call-to-action-3[data-variant=right_text_inverted] .mdp-container .mdp-data .mdp-footer .mdp-button:-ms-input-placeholder {
    color: #aaa;
}
.mdp-weare-call-to-action-3[data-variant=left_text_inverted] .mdp-container .mdp-data .mdp-footer .mdp-button:hover,
.mdp-weare-call-to-action-3[data-variant=right_text_inverted] .mdp-container .mdp-data .mdp-footer .mdp-button:hover {
    background-color: #5838e9;
    border-color: #5838e9;
    color: white;
}