.mdp-weare-password-1 {
    position: relative;
    z-index: 0;
    height: 100vh;
    background: #42662B;
}
.mdp-weare-password-1 > .mdp-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    pointer-events: none;
    z-index: -1;
}
.mdp-weare-password-1 input {
    padding: 9px 15px;
    font-family: {{ settings.weare_font_text }};
    font-style: normal;
    font-weight: 600;
    border-radius: 0;
    background-image: none !important;
    background-color: white;
    font-size: 14px;
    width: 200px;
    margin-right: 5px;
}
.mdp-weare-password-1 input::placeholder {
    color: #aaa;
}
.mdp-weare-password-1 input::placeholder {
    color: #aaa;
}
.mdp-weare-password-1 input::-webkit-input-placeholder {
    color: #aaa;
}
.mdp-weare-password-1 input::-moz-placeholder {
    color: #aaa;
}
.mdp-weare-password-1 input:-moz-placeholder {
    color: #aaa;
}
.mdp-weare-password-1 input:-ms-input-placeholder {
    color: #aaa;
}
.mdp-weare-password-1 button {
    border-radius: 0;
    background-image: none !important;
    cursor: pointer;
    width: auto;
    font-family: {{ settings.weare_font_text }};
    font-style: normal;
    font-weight: bold;
    padding: 15px 45px;
    font-size: 14px;
    line-height: 19px;
    background-color: #343434;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    border-color: #4c90c7;
    color: white;
    transition: 0.3s all ease-in-out;
    display: inline-block;
    white-space: nowrap;
}
.mdp-weare-password-1 button::placeholder {
    color: #aaa;
}
.mdp-weare-password-1 button::placeholder {
    color: #aaa;
}
.mdp-weare-password-1 button::-webkit-input-placeholder {
    color: #aaa;
}
.mdp-weare-password-1 button::-moz-placeholder {
    color: #aaa;
}
.mdp-weare-password-1 button:-moz-placeholder {
    color: #aaa;
}
.mdp-weare-password-1 button:-ms-input-placeholder {
    color: #aaa;
}
.mdp-weare-password-1 button:hover {
    background-color: white;
    color: #2a2a2a;
}
.mdp-weare-password-1 button::before {
    content: none;
}
.mdp-weare-password-1 .mdp-opening-soon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mdp-weare-password-1 .mdp-opening-soon > .mdp-header .mdp-title {
    font-family: {{ settings.weare_font_header }};
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 39px;
    color: #343434;
    text-align: center;
}
.mdp-weare-password-1 .mdp-opening-soon > .mdp-header .mdp-subtitle {
    margin-bottom: 5px;
    font-family: {{ settings.weare_font_text }};
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.133333px;
    text-transform: uppercase;
    color: #343434;
}
.mdp-weare-password-1 .mdp-opening-soon > .mdp-header .mdp-button {
    font-size: 15px;
    letter-spacing: 0.5px;
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    color: #2a2a2a;
    border-bottom: 1px solid transparent;
    position: relative;
    font-weight: normal;
}
.mdp-weare-password-1 .mdp-opening-soon > .mdp-header .mdp-button .mdp-text {
    margin-right: 5px;
}
.mdp-weare-password-1 .mdp-opening-soon > .mdp-header .mdp-button .mdp-icon {
    font-size: 0;
}
.mdp-weare-password-1 .mdp-opening-soon > .mdp-header .mdp-button .mdp-icon svg {
    width: 20px;
    height: 20px;
}
.mdp-weare-password-1 .mdp-opening-soon > .mdp-header .mdp-button::before {
    content: "";
    position: absolute;
    transition: 0.3s all ease-in-out;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 0;
    border-bottom: 1px solid #2a2a2a;
    opacity: 0;
    transform: translateY(5px);
}
.mdp-weare-password-1 .mdp-opening-soon > .mdp-header .mdp-button:hover::before {
    opacity: 1;
    transform: translateY(0);
}
.mdp-weare-password-1 .mdp-opening-soon > .mdp-header .mdp-row-full {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.mdp-weare-password-1 .mdp-opening-soon > .mdp-header .mdp-row-full .mdp-row-left {
    margin-right: 30px;
}
@media (max-width: 600px) {
    .mdp-weare-password-1 .mdp-opening-soon > .mdp-header .mdp-row-full {
        display: block;
    }
    .mdp-weare-password-1 .mdp-opening-soon > .mdp-header .mdp-row-full .mdp-row-left {
        justify-content: center;
        padding: 10px 10px 5px 10px;
        margin-right: 0;
    }
    .mdp-weare-password-1 .mdp-opening-soon > .mdp-header .mdp-row-full .mdp-row-right {
        justify-content: center;
        padding: 5px 10px 10px 10px;
    }
}
.mdp-weare-password-1 .mdp-opening-soon .mdp-header {
    margin-bottom: 50px;
}
.mdp-weare-password-1 .mdp-opening-soon .mdp-header .mdp-title {
    font-size: 31.992px;
    margin-bottom: 5px;
}
.mdp-weare-password-1 .mdp-opening-soon .mdp-signup-form .mdp-row {
    display: flex;
    align-items: center;
}
.mdp-weare-password-1 .mdp-opening-soon .mdp-social-links {
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.mdp-weare-password-1 .mdp-opening-soon .mdp-social-links a {
    margin-right: 10px;
}
.mdp-weare-password-1 .mdp-opening-soon .mdp-social-links a svg {
    height: 20px;
}
.mdp-weare-password-1 .mdp-opening-soon .mdp-credentials {
    margin-top: 10px;
}
.mdp-weare-password-1 .mdp-opening-soon .mdp-credentials a {
    display: inline;
}
.mdp-weare-password-1 .mdp-storefront-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mdp-weare-password-1 .mdp-storefront-form .mdp-title {
    font-size: 30px;
    margin-bottom: 10px;
}
.mdp-weare-password-1 .mdp-storefront-form .mdp-row {
    display: flex;
    align-items: center;
}
.mdp-weare-password-1 .mdp-storefront-form .mdp-admin-login {
    margin-top: 50px;
    text-transform: uppercase;
}
.mdp-weare-password-1 .mdp-storefront-form .mdp-admin-login a {
    display: inline-block;
}
.mdp-weare-password-1 .mdp-storefront-form-open {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    user-select: none;
}
.mdp-weare-password-1 .mdp-storefront-form-close {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    cursor: pointer;
    user-select: none;
}
.mdp-weare-password-1 .mdp-storefront-form-close svg {
    height: 30px;
}
.mdp-weare-password-1 #mdp-storefront-form {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.mdp-weare-password-1 #mdp-storefront-form:checked ~ .mdp-opening-soon,
.mdp-weare-password-1 #mdp-storefront-form:checked ~ .mdp-storefront-form-open {
    display: none;
}
.mdp-weare-password-1 #mdp-storefront-form:checked ~ .mdp-storefront-form,
.mdp-weare-password-1 #mdp-storefront-form:checked ~ .mdp-storefront-form-close {
    display: block;
}
.mdp-weare-password-1 #mdp-storefront-form:not(:checked) ~ .mdp-opening-soon,
.mdp-weare-password-1 #mdp-storefront-form:not(:checked) ~ .mdp-storefront-form-open {
    display: block;
}
.mdp-weare-password-1 #mdp-storefront-form:not(:checked) ~ .mdp-storefront-form,
.mdp-weare-password-1 #mdp-storefront-form:not(:checked) ~ .mdp-storefront-form-close {
    display: none;
}
.mdp-weare-password-1.mdp-inverted {
    color: white;
}
.mdp-weare-password-1.mdp-inverted input {
    border-color: white;
    color: black;
}
.mdp-weare-password-1.mdp-inverted button {
    padding: 9px 15px;
    font-family: {{ settings.weare_font_text }};
    font-style: normal;
    font-weight: 600;
    border-radius: 0;
    background-image: none !important;
    font-size: 14px;
    background-color: white;
    border-color: white;
    color: #2a2a2a;
    transition: 0.3s all ease-in-out;
    display: inline-block;
    white-space: nowrap;
}
.mdp-weare-password-1.mdp-inverted button::placeholder {
    color: #aaa;
}
.mdp-weare-password-1.mdp-inverted button::placeholder {
    color: #aaa;
}
.mdp-weare-password-1.mdp-inverted button::-webkit-input-placeholder {
    color: #aaa;
}
.mdp-weare-password-1.mdp-inverted button::-moz-placeholder {
    color: #aaa;
}
.mdp-weare-password-1.mdp-inverted button:-moz-placeholder {
    color: #aaa;
}
.mdp-weare-password-1.mdp-inverted button:-ms-input-placeholder {
    color: #aaa;
}
.mdp-weare-password-1.mdp-inverted button:hover {
    background-color: #5838e9;
    border-color: #5838e9;
    color: white;
}
.mdp-weare-password-1.mdp-inverted .mdp-opening-soon .mdp-header .mdp-title {
    color: white;
}
.mdp-weare-password-1.mdp-inverted .mdp-opening-soon .mdp-header .mdp-subtitle {
    color: white;
}