 /* ========== BIO SECTION ========== */
  .bio-section .mdp-container {
    display: flex;
    position: relative;
    overflow: visible;
    padding: 0 64px 64px 0;
    align-items: flex-end;
    gap: 80px;
    align-self: stretch;
  }

  .bio-section .mdp-container .col-left {
    width: 55%;
    margin-right: -120px;
    overflow: visible;
    position: relative;
    z-index: 2;
  }

  .bio-section .mdp-container .col-right {
    width: 45%;
    padding-left: 135px;
    position: relative;
    z-index: 1;
  }

  .bio-section .player-name {
    color: var(--Primary-Black, #000);
    font-family: Lexend;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .bio-section .player-desc p {
    color: #5B5B5B;
    font-family: "Red Hat Display";
    font-size: 16px;
    font-weight: 500;
  }

  /* ========== PLAYER CARD ========== */
  .player-card {
    max-width: 269px;
  }

  .player-card .card-featured-image {
    height: 273px;
    width: 100%;
    background: #42662B;
    margin-top: 100px;
  }

  .player-card .card-featured-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(1.3);
    object-position: center;
  }

  .player-card.active.slick-slide {
    opacity: 0.5;
  }

  .player-card.active.slick-slide.slick-current {
    opacity: 1;
  }

  /* ========== SLICK SLIDER ========== */
  .slick-initialized .slick-slide {
    padding: 0 32px;
  }

  .slick-list {
    padding-left: 0 !important;
    padding-right: 80px !important;
  }

  .player-kit-cards-container {
    overflow: visible !important;
  }

  /* ========== NAVIGATION BUTTONS ========== */
  .nav-buttons {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
    position: relative;
  }

  .nav-buttons .slick-prev,
  .nav-buttons .slick-next {
    width: 48px;
    height: 48px;
    display: inline-block;
    background: none;
    border: none;
    position: relative;
    transform: translate(0);
  }
  .nav-buttons .slick-prev {
    left: 0;
  }
  .nav-buttons .slick-next {
    right: 0;
  }

  .nav-buttons img {
    position: absolute;
    top: 0;
    left: 0;
  }

  /* ========== PLAYER PREFERRED SET ========== */
  .player-preferred-set .mdp-container {
    display: flex;
    padding: 0 64px 64px 64px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
  }

  .player-preferred-set .section-title {
    color: var(--Primary-Black, #000);
    font-family: Lexend;
    font-size: 16px;
    font-weight: 500;
  }

  /* ========== COLLECTION GRID ========== */
  .collection-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
  }

  #CollectionProductGrid {
    max-width: 1342px;
    width: 100%;
    margin: 0 auto;
  }

  /* ========== SHOP THE LOOK ========== */
  .player-shop-the-look {
    background: #F0F0F0;
  }

  .player-shop-the-look .mdp-container {
    display: flex;
    padding: 64px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
  }

  .player-shop-the-look .section-title {
    color: var(--Primary-Black, #000);
    font-family: Lexend;
    font-size: 16px;
    font-weight: 500;
  }

  /* ========== LOAD MORE BUTTON ========== */
  .load-more-wrapper {
    margin: 56px 0 0;
    width: 100%;
    text-align: center;
  }

  button.load-more {
    font-family: var(--font-lexend);
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    background: transparent;
    padding: 16px 40px;
    border: 0;
    cursor: pointer;
    transition: 0.3s;
    color: var(--black);
  }

  button.load-more:hover {
    background: #D9E0D5;
  }

  /* ========== RESPONSIVE ========== */
  @media (max-width: 1024px) {
    .collection-grid {
      justify-content: center;
    }

    .player-preferred-set .mdp-container,
    .player-shop-the-look .mdp-container {
      align-items: center;
    }
  }