.player-card .card-content {
  display: flex;
  padding: 24px 24px 40px 24px;
  flex-direction: column;
  align-items: flex-start;
  border-top: 8px solid var(--green);
  background: var(--black);
  position: relative;
  z-index: 1;
  flex: 1;
  height: 100%;
}
a {
  text-decoration: none;
}
.player-card {
  height: 100%;
}
.player-card .card-content .player-title {
  color: var(--white);
  font-family: var(--font-body-family);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.player-card .card-content .text {
  color: var(--white);
  font-family: var(--font-body-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.player-card .card-content .brands {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  color: white;
}
.player-card .card-content .brands img {
  width: 60px;
  height: 12px;
  aspect-ratio: 58.5/12;
  object-fit: contain;
  filter: invert(1);
}
.player-card {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.player-card .card-featured-image {
  aspect-ratio: 3 / 4;
  position: relative;
  position: relative;
}
.player-card .card-featured-image::before {
  content: "";
  width: 100%;
  height: calc(100% - 90px);
  background: var(--white);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  border: 1px solid var(--black);
  border-bottom: 0;
  box-sizing: border-box;
}

.player-card .card-featured-image img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* PER PLAYER CARD CUSTOM CSS */
.pro-player--AgustínTapia .card-featured-image img {
  left: 60%;
}

.pro-player--FedericoChingotto .card-featured-image img {
  transform: translateX(0);
  left: 100%;
  transform: translateX(-100%);
  position: relative;
}
.player-card.pro-player--JuanLebron .card-featured-image img {
  left: 0;
  transform: translateX(0);
}
.player-card.pro-player--MikeYanguas .card-featured-image img {
  top: 8px;
  height: 100%;
}

@media (max-width: 767px) {
  .card-featured-image {
    margin-top: 60px;
  }

  .pro-player--FedericoChingotto .card-featured-image img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }
}
