<div class="bio-section">
    <div class="mdp-container">
        <div class="col-left">

        </div>
        <div class="col-right">
            <div class="player-details">
                <div class="player-name">{{ collection.title }}</div>
                <div class="player-desc">{{ collection.description }}</div>
            </div>
            <div class="nav-buttons">
                <button type="button" class="slick-prev"><img src="{{ "btn-prev.svg" | asset_url }}" alt="Previous"></button>
                <button type="button" class="slick-next"><img src="{{ "btn-next.svg" | asset_url }}" alt="Next"></button>
            </div>
        </div>
    </div>
</div>